a {
    text-decoration: none;
}

nav {
    background: darkblue;
    text-align: center;
    color: white;

    position: sticky;
    top: -1;
    z-index: 9;
}

ul {
    background: darkblue;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    color: #fff;
    background: darkblue;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
}

li a {
    color: white;
}

li:hover,
li:focus-within {
    background: skyblue;
    cursor: pointer;
}

li:focus-within a {
    outline: none;
}

ul li ul {
    background: darkblue;
    visibility: hidden;
    opacity: 0;
    min-width: 80px;
    position: absolute;
    margin-top: 1rem;
    left: 0;
    display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block
}

ul li ul li {
    clear: both;
    width: 100%;
}
h1 {
    text-align: center;
    
}