a {
    text-decoration: none;
}

nav {
    background: darkblue;
    text-align: center;
    min-width: 1000px;
    min-height: 55.2px;

    position: sticky;
    top: -1;
    z-index: 9;
}

ul {
    background: darkblue;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    background: darkblue;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
}

li a:hover{
    color: black;
}

li a {
    color: white;
}

li:hover,
li:focus-within {
    background: skyblue;
    cursor: pointer;
    font-weight: bold;
}

ul li ul {
    background: darkblue;
    visibility: hidden;
    opacity: 0;
    min-width: 80px;
    position: absolute;
    margin-top: 1rem;
    left: 0;
    display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}

header {
    text-align: center;
    font-weight: bold;
    color: rgb(209, 24, 215);
}

body {
    background-color: bisque;
}
body div {
    margin-top: 96px;
    margin-left: 15%;
}