<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>112303591_施懋承</title>
</head>
<body>
    <h1>3 Fact About Me</h1>
    <table border="1" width="1000">
        <tr>
            <td>
                <img src="../static/img/機械系.jpg" alt="機械系" width="400" height="">
            </td>
            <td>
                <img src="../static/img/tuki.(16).jpg" alt="tuki." width="300" height="">
            </td>
            <td>
                <img src="../static/img/祈inuri.jpg" alt="祈Inuri" width="300" height="">
            </td>
        </tr>
        <tr>
            <td>
                <a href="">就讀系所</a>
            </td>
            <td>
                <a href="">喜歡的歌手</a>
            </td>
            <td>
                <a href="112303591_detail.html">喜歡的Vtuber</a>
            </td>
        </tr>
    </table>
</body>
</html>