<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>112303591_施懋承</title>
    <link rel="stylesheet" href="../static/css/112303591_css.css">
</head>
<body> 
    <header>
        <h1>自我介紹</h1>
    </header>   
    <nav>
        <ul>
            <li><a href="">推薦音樂</a>
                <ul class="dropdown">
                    <li><a href="https://youtu.be/oZpYEEcvu5I?si=XMj7qgPUfWpTnoKI">晚餐歌</a></li>
                    <li><a href="https://youtu.be/nmeccuUXs4Q?si=pPEa6-zYhTw8yyDU">愛的賞味期限</a></li>
                </ul>
            </li>
            <li><a href="">關於我</a>
                <ul class="dropdown">
                    <li><a href="">FB</a></li>
                    <li><a href="">IG</a></li>
                </ul>
            </li>
        </ul>

    </nav>
    <div>
        <table border="1" width="1000">
            <tr>
                <td>
                    <img src="../static/img/機械系.jpg" alt="機械系" width="400" height="">
                </td>
                <td>
                    <img src="../static/img/tuki.(16).jpg" alt="tuki." width="300" height="">
                </td>
                <td>
                    <img src="../static/img/祈inuri.jpg" alt="祈Inuri" width="300" height="">
                </td>
            </tr>
            <tr>
                <td>
                    <a href="">就讀系所：機械系</a>
                    <p>
                        目前是中央大學機械系三年級
                    </p>
                </td>
                <td>
                    <a href="">喜歡的歌手：tuki.(16)</a>
                    <p>
                        現年齡僅16歲的日本歌手
                    </p>
                </td>
                <td>
                    <a href="./112303591_detail.html">喜歡的Vtuber：祈Inuri</a>
                    <p>
                        子午計畫Meridian Project四期生扉暮IANVS的天使
                    </p>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>