<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
    <h1 style="font-size: 48px;">祈Inuri</h1>
    <ul>
        <li>出生日期：9月29日</li>
        <li>暱稱：小祈、魯尼</li>
        <li>粉絲名：哈士祈</li>
    </ul>
    <img src="../static/img/祈inuri.jpg" alt="祈Inuri" width="" height="315">
    <iframe></iframe>
    <form>
        <label class="title" style="font-weight: bold; font-size: 24px;">回饋表單</label><br>
        <br>
        <label>姓名：</label><br>
        <input type="text"><input type="checkbox"><label>匿名</label><br>
        <br>
        <label for="select1">你是從哪裡知道這個網站的？</label><br>
        <select name="select1" id="select1">
            <option value="選項一">--請選擇--</option>
            <option value="選項二">FB</option>
            <option value="選項三">IG</option>
            <option value="選項三">X(原Twitter)</option>
        </select><br>
        <br>
        <label for="fav">你最喜歡的休閒活動：</label><br>
        <input type="radio" id="sport" name="fav" value="sport">
        <label for="sport">運動</label><br>
        <input type="radio" id="music" name="fav" value="music">
        <label for="music">音樂</label><br>
        <input type="radio" id="learn" name="fav" value="learn">
        <label for="learn">閱讀</label><br>
        <br>
        <label for="fav_music">你最喜歡的音樂類型(可複選)：</label><br>
        <input type="checkbox" id="流行" name="fav_music" value="流行">
        <label for="流行">流行</label><br>
        <input type="checkbox" id="搖滾" name="fav_music" value="搖滾">
        <label for="搖滾">搖滾</label><br>
        <input type="checkbox" id="古典" name="fav_music" value="古典">
        <label for="古典">古典</label><br>
        <input type="checkbox" id="爵士" name="fav_music" value="爵士">
        <label for="爵士">爵士</label><br>
        <br>
        <label for="message">備註：</label><br>
        <textarea name="message" rows="10" cols="30"></textarea><br>
        <br>
        <a href="./112303591_index.html"><input type="button" value="送出留言" ></a>
    </form>
</body>
</html>