<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>購物車</title>
    <link rel="stylesheet" href="../static/css/112303591_js_2.css">
  </head>
  <body>
    <h1>購物車</h1>
    <table border="1">
      <thead>
        <tr style="height: 40px">
          <th width="150">
            <input type="checkbox" id="selectAll" onclick="CheckAll(this)">
          </th>
          <th width="250">商品名稱</th>
          <th width="200">商品庫存</th>
          <th width="200">單價</th>
          <th width="200">數量</th>
          <th width="200">總計</th>
        </tr>
      </thead>
      <tbody>
        <tr style="height: 160px" class="product">
          <td><input type="checkbox" class="item" onchange="updateCheckAll()"></td>
          <td>
            <img src="../static/img/初始衣裝飯友.jpg" alt="初始衣裝飯友">
            <p style="font-size: 20px; margin: 0">【子午計畫】初始衣裝飯友</p>
          </td>
          <td><span class="stock">500</span></td>
          <td>$<span class="price">200</span></td>
          <td>
            <input type="button" class="btn" onclick="changeQty(this, -1)" value="-">
            <input type="text" class="num" onblur="validateQty(this)" value="1">
            <input type="button" class="btn" onclick="changeQty(this, +1)" value="+">
          </td>
          <td>$<span class="subtotal">200</span></td>
        </tr>
        <tr style="height: 160px" class="product">
          <td><input type="checkbox" class="item" onchange="updateCheckAll()"></td>
          <td>
            <img src="../static/img/子午後背包.jpg" alt="子午後背包">
            <p style="font-size: 20px; margin: 0">【子午計畫】子午後背包</p>
          </td>
          <td><span class="stock">200</span></td>
          <td>$<span class="price">1200</span></td>
          <td>
            <input type="button" class="btn" onclick="changeQty(this, -1)" value="-">
            <input type="text" class="num"onblur="validateQty(this)" value="1">
            <input type="button" class="btn" onclick="changeQty(this, +1)" value="+">
          </td>
          <td>$<span class="subtotal">1200</span></td>
        </tr>
        <tr style="height: 160px" class="product">
          <td><input type="checkbox" class="item" onchange="updateCheckAll()"></td>
          <td>
            <img src="../static/img/KSP娃娃.jpg" alt="KSP娃娃">
            <p style="font-size: 20px; margin: 0">【KSP】KSP娃娃</p>
          </td>
          <td><span class="stock">150</span></td>
          <td>$<span class="price">750</span></td>
          <td>
            <input type="button" class="btn" onclick="changeQty(this, -1)" value="-">
            <input type="text" class="num" onblur="validateQty(this)" value="1">
            <input type="button" class="btn" onclick="changeQty(this, +1)" value="+">
          </td>
          <td>$<span class="subtotal">750</span></td>
        </tr>
        <tr style="height: 60px">
          <td colspan="5">total</td>
          <td>$<span id="total">0</span></td>
        </tr>
      </tbody>
    </table>
    <input type="button" class="buy" value="結帳" onclick="checkout()">
    <script src="../static/js/112303591_js_2.js"></script>
  </body>
</html>
